// * Global
$color-fondo: #282c34;
$color-fondo-opaco: rgba(21, 23, 25, 0.5);
$color-letra: #ffff;
$color-letra-placeholder: rgba(255, 255, 255, 0.8);
$color-confirmar: #198754;
$color-cancelar: #dc3545;
$color-aceptado: #198754;
$color-no-aceptado: #dc3545;

// * Variant
$color-variant: #212529;
$color-variant-hover: #30373d;
$color-variant-active: #13171b;

// * Barra
$color-barra: rgb(22, 26, 41);
$color-letra-seleccionada: rgb(240, 229, 194);
$sombra-item-seleccionado: 0 0 10px rgb(240, 198, 84);

// * Pagina Xboxs
$color-tarjeta-xbox: transparent;
$color-tab-seleccionado-xbox: rgba(255, 255, 255, 0.5);
$color-tab-error-xbox: rgba(167, 33, 33, 0.5);
$color-tab-error-seleccionado-xbox: rgba(167, 33, 33, 0.5);

:export {
    colorFondo: $color-fondo;
    colorLetra: $color-letra;
    colorConfirmar: #198754;
    colorCancelar: #dc3545;
}

:root {
    --color-fondo: #282c34;
    --color-fondo-opaco: rgba(21, 23, 25, 0.5);
    --color-variant: #212529;
    --color-letra: white;
    --color-confirmar: #198754;
    --color-cancelar: #dc3545;
    --color-aceptado: #198754;
    --color-no-aceptado: #dc3545;
}
