// * Global
$color-fondo: #282c34;
$color-letra: #ffff;
$color-confirmar: #198754;
$color-cancelar: #dc3545;

// * Barra
$color-barra: rgb(22, 26, 41);
$color-letra-seleccionada: rgb(240, 229, 194);
$sombra-item-seleccionado: 0 0 10px rgb(240, 198, 84);

// * Pagina Xboxs
$color-tarjeta-xbox: rgb(212, 178, 83, 0.9);
$color-tab-seleccionado-xbox: rgba(114, 99, 58, 0.9);
$color-tab-error-xbox: rgba(226, 119, 86, 0.9);
$color-tab-error-seleccionado-xbox: rgba(216, 135, 110, 0.9);

:export {
    colorFondo: $color-fondo;
    colorLetra: $color-letra;
    colorConfirmar: #198754;
    colorCancelar: #dc3545;
}

:root {
    --color-fondo: #282c34;
    --color-letra: white;
    --color-confirmar: #198754;
    --color-cancelar: #dc3545;
}
