// TODO, Componentes SCSS

@import "variables";

// Todo ---> CONTENEDORES
.contenedor-completo {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

// Todo ---> BOTONES

// * B. Temporizador
.botones-temporizador {
    .b-tp {
        background-color: $color-fondo-opaco;
        border: 2px solid #161515;
        appearance: none;
        border-radius: 15px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family:
            Roobert,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Helvetica,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        will-change: transform;

        #bt-inicio {
            background-color: $color-aceptado;
        }

        &:disabled {
            pointer-events: none;
            background-color: $color-cancelar;
            border: 2px solid #161515;
            color: #ffffff;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}

.boton-buscar {
    .bt-b {
        background-color: $color-variant;
        border: none;
        appearance: none;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        font-family:
            Roobert,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Helvetica,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol";
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;

        &:hover {
            background-color: $color-variant-hover;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        &:active {
            background-color: $color-variant-hover;
            box-shadow: none;
            transform: translateY(0);
        }

        &:disabled {
            pointer-events: none;
            background-color: $color-cancelar;
            color: #ffffff;
        }
    }
}
// Todo ---> PAGINATION
.pagination-tabla {
    // * Pagina
    .page-link {
        background-color: $color-variant;
        color: $color-letra;
        border-color: $color-variant;

        &:hover {
            cursor: pointer;
            background-color: $color-variant-hover;
            color: $color-letra;
            border-color: $color-variant-hover;
        }
    }

    // * Activo
    .page-item.active .page-link {
        background-color: $color-variant-active;
        color: $color-letra;
        border-color: $color-variant-active;

        &:hover {
            cursor: pointer;
            background-color: $color-variant-hover;
            color: $color-letra;
            border-color: $color-variant-hover;
        }
    }
}

// Todo ---> ALARMA

.img-alarma {
    // background-color: $color-cancelar;
    transition: transform 0.2s ease;
    animation: palpitar 0.5s infinite;
}

.img-alarma:hover {
    cursor: pointer;
}

/* Definición de la animación "palpitar" */
@keyframes palpitar {
    0% {
        transform: scale(1); /* Estado inicial (escala normal) */
    }
    50% {
        transform: scale(1.1); /* Estado de escala aumentada al 50% de la animación */
    }
    100% {
        transform: scale(1); /* Estado final (volver a la escala normal) */
    }
}
