// TODO, Componentes SCSS

@import "variables";

// * PAGINA DEL INICIO

.contenedor-inicio {
    display: flex;
    color: $color-letra;
    align-items: start;

    .derecha,
    .izquierda {
        align-self: start;

        .container {
            display: inline;
            align-items: start;
            width: 100%;
            min-width: 100%;
        }
    }

    .derecha {
        .tab-xbox {
            background-color: $color-tarjeta-xbox;
            color: $color-letra;
            border-radius: 0%;

            &:hover,
            &:focus,
            &:active {
                background-color: $color-tab-seleccionado-xbox;
                color: $color-letra;
                border-radius: 10%;
            }
        }

        .tab-xbox-invalido {
            background-color: $color-tab-error-xbox;
            color: $color-letra;
            border-radius: 0%;

            &:hover,
            &:focus,
            &:active {
                background-color: $color-tab-error-seleccionado-xbox;
                color: $color-letra;
                border-radius: 10%;
            }
        }

        .card {
            border-radius: 0%;
            background-color: $color-tarjeta-xbox;
            color: $color-letra;
        }
    }
}

.img-alarma {
    // background-color: $color-cancelar;
    transition: transform 0.2s ease;
    animation: palpitar 0.5s infinite;
}

.img-alarma:hover {
    cursor: pointer;
}

/* Definición de la animación "palpitar" */
@keyframes palpitar {
    0% {
        transform: scale(1); /* Estado inicial (escala normal) */
    }
    50% {
        transform: scale(1.1); /* Estado de escala aumentada al 50% de la animación */
    }
    100% {
        transform: scale(1); /* Estado final (volver a la escala normal) */
    }
}
