@import "variables";

// TODO, ---> APP
.app {
  background-color: $color-fondo;
  color: $color-letra;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  min-width: 100%;

  //* ----> CONTENEDOR
  .contendor-principal {
    background: $color-fondo;
    display: flex;
    flex: 1;
    position: relative;
    min-height: 100vh;
    min-width: 100%;

    // ? ---> MENU
    .menu-principal {
      background-color: $color-fondo;
      display: flex;
      flex-direction: column;
      min-width: 15%;
      min-height: 100%;
    }

    // ? ---> PAGINA
    .pagina-principal {
      background-color: $color-fondo;
      display: flex;
      flex-direction: column;
      min-width: 85%;
      min-height: 100%;

      // * BARRA SUPERIOR
      .barra-superior {
        min-height: 10vh;
        background: $color-barra;

        .container {
          background: $color-barra;
          background-color: $color-barra;
        }

        .icono-principal {
          margin-right: 10px;
        }

        .navbar-brand {
          color: $color-letra;
          font-size: 1.6rem;
          font-weight: bold;
          .icono-bootstrap {
            margin-right: 10px;
          }
          &:hover,
          &:focus {
            color: $color-letra;
            text-shadow: $sombra-item-seleccionado;
          }
        }

        .nav-link {
          font-size: 1.3rem;
          color: $color-letra;
          font-weight: bold;
          &:hover,
          &:focus {
            color: $color-letra-seleccionada;
            text-shadow: $sombra-item-seleccionado;
          }
          &.active {
            color: $color-letra;
          }
        }
      }
    }
  }

  // * ----> PIE
  .pie-de-pagina {
    background-color: $color-fondo;
    color: $color-letra;
    position: relative;
    min-height: 20vh;
    width: 100%;

    .linea-blanca {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
    }

    .link {
      color: $color-letra;
    }
  }
}

// ?  --- COMPONENTES GLOBALES

.modal-izquierdo {
  background-color: $color-fondo;
  color: $color-letra;
  width: 120%;
}

.icono {
  transition: transform 0.3s;
}

.icono:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icono-error {
  transition: transform 1s;
}

.icono-error:hover {
  cursor: pointer;
}

.rotar-icono {
  transform: rotate(360deg);
}

.placeholder-blanco::placeholder {
  color: $color-letra;
}

.color-fondo {
  background-color: $color-fondo;
  background: $color-fondo;
  color: $color-letra;
}
.global-tabla {
  background-color: $color-fondo;
  color: $color-cancelar;
}

.color-aceptado {
  color: $color-confirmar;
}

.color-no-aceptado {
  color: $color-cancelar;
}
