@import "variables";

.app {
  text-align: center;
  background-color: $color-fondo;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: $color-letra;
}

.modal-izquierdo {
  background-color: $color-fondo;
  color: $color-letra;
}

.icono {
  transition: transform 0.3s;
}

.icono:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contenedor-centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  height: 90vh;
}

.icono-error {
  transition: transform 1s;
}

.icono-error:hover {
  cursor: pointer;
}

.rotar-icono {
  transform: rotate(360deg);
}

.placeholder-blanco::placeholder {
  color: $color-letra;
}

.color-fondo {
  background-color: $color-fondo;
  background: $color-fondo;
  color: $color-letra;
}
.global-tabla {
  background-color: $color-fondo;
  color: $color-cancelar;
}

.picker-tiempo {
  // display: flex;
  // width: auto;
  // background-color: aqua;
}
